<div *ngIf="character!=null; else espera">
  <div class="container-fluid h-100 ">
    <div class="row">
      <div class="col-sm-6">
        <div class="card mt-3">
          <div class="row g-0 d-flex">
            <div class="col-5">
              <img class="img-fluid h-100 w-100" src="{{character.image}}" alt="..." width="200">
            </div>
            <div class="col-7">
              <div class="card-body">
                <h5 class="card-title">Nombre: {{character.name}}</h5>
                <p class="card-text">Id: {{character.id}}</p>
                <p class="card-text">Status: {{character.status}}</p>
                <p class="card-text">Species: {{character.species}}</p>
                <p class="card-text">Gender: {{character.gender}}</p>
                <p class="card-text">Origin: {{character.origin.name}}</p>
                <p class="card-text">Location: {{character.location.name}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <ng-template #espera>Esperando datos...</ng-template>
